
 /* ------------------ Global Styling ------------------ */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #e6e6e6;
  margin: 0;
  padding: 0;
}

/* ------------------ NAVBAR ------------------ */
.navbar {
  background:#420e4d;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    border: #ccc;
    border-radius: 500px;
    width: 70px;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}


/* ------------------ PRODUCT CONTAINER ------------------ */
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

/* ------------------ PRODUCT BOX ------------------ */
.product-box {
  max-width: 350px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

}



/* ------------------ Image ------------------ */
.product-image {
  width: 100%;
  border-radius: 15px;
}

/* ------------------ Text ------------------ */
h2 {
  margin-top: 15px;
  font-size: 22px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.old {
  text-decoration: line-through;
  color: gray;
  font-size: 18px;
  margin-left: 8px;
}

.desc {
  margin-top: 12px;
  color: #555;
  font-size: 15px;
 
}

ul {
  margin-top: 10px;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

/* ------------------ Buttons ------------------ */
.button-group {
  margin-top: 18px;
}

.btn {
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
 
}

.buy {
  background: #007bff;
  color: white;
  margin-right: 10px;
  
}


.cart {
  background: #28a745;
  color: white;
}



/* ------------------ Responsive ------------------ */
@media screen and (max-width: 600px) {
  .product-box {
    max-width: 90%;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
  }
}

.footer-bottom {
  width: 100%;
  height: 100px;
  background-color: #0e304d;
  color: #e6e6e6;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.text-footer {
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.text-footer-small {
  font-size: 13px;
  color: #ccc;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

