*{
    margin: 0;
    padding:0;
    
}




/* 
#main{

    width:  500px ;
    height:  500px;
   color:crimson;
  
   margin-left: 200px;
  
    background-image: url(https://media.istockphoto.com/id/926196952/photo/beautiful-nature-background.jpg?s=170667a&w=0&k=20&c=3CI8wa6kKzgUv09X_rQhermyjeGhaAlp9HiAe9v65rE=);
    background-size: cover;
    
   

 
} */


#car1{
    position: relative;
       width: 500px;
       height: 400px;
       background-color: blueviolet;
    }
    #car2{
        
        position:absolute;
        
        top: 1px;

          width: 110px;
       height: 100px;
    background-color:blue;
}

